DATABASE_URL="postgresql://user:password@localhost:5432/nexcoin"
ADMIN_VAULT_MNEMONIC="abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon about"
JWT_SECRET="your-secret-key-min-32-chars"
PORT=3000
